<% provide(:title, "Sign in") %>

<div class = "jumbotron">
<div class = "container">
    <h1>Sign in</h1>

    <table class="table">
        <%= form_for(:session, url: sessions_path) do |f| %>
          <thead>
	    <tr>
              <th><%= f.label :email %></th>
              <th><%= f.label :password %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
              <td><%= f.text_field :email %></td>
              <td><%= f.password_field :password %></td>
            </tr>
	  </tbody>
    </table>
    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
        
     </br>
     </br>
     </br>
     <p>New user? <%= link_to "Sign up now!", signup_path %></p>

</div>
</div>